@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'BaronNeue';
  src: url(../fonts/baron-neue/BaronNeue.otf);
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url(../fonts/bebas-neue/BebasNeue.otf);
}

@font-face {
  font-family: 'BebasNeueBold';
  src: url(../fonts/bebas-neue/BebasNeueBold.ttf);
}


@media screen and (max-width: 900px) {
  .big {
    padding-top: 10px !important;
    font-size: 18pt !important;
  }
  
  .small {
    padding-top: 5px !important;
    font-size: 12pt !important;
  }
  
  .pad-left {
    padding-left: 30px !important;
  }
  
  .pad-top {
    padding-top: 30px !important;
  }
  
  .header, .regular {
    height: 30px !important;
    font-size: 8pt !important;
    margin: 0px !important;
  }
  
  .header-logo {
    font-size: 16pt !important;
  }
  
  .line {
    width: 20px !important;
  }
  
  .copyright, .socmed li a, .subs {
    font-size: 18pt !important;
  }

  .row, .main{
    flex-direction: column;
  }
}

@media screen and (max-height: 600px) {
  .big {
    padding-top: 6px !important;
    font-size: 18pt !important;
  }
  
  .small {
    padding-top: 2px !important;
    font-size: 12pt !important;
  }
  
  .pad-left {
    padding-left: 15px !important;
  }
  
  .pad-top {
    padding-top: 30px !important;
  }
  
  .header,.regular {
    height: 30px !important;
    font-size: 8pt !important;
    margin: 0px !important;
  }
  
  .header-logo {
    font-size: 12pt !important;
  }
  
  .line {
    width: 10px !important;
  }


  .pad-inline {
    margin: 2px !important;
  }

  .copyright, .socmed li a, .subs {
    font-size: 12pt !important;
  }
  .row, .main {
    flex-direction: column;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

input, button {
  outline: 0;
  border: none;
  background: transparent;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.main-view {
  width: 100%;
  height: 750px;
  position: relative;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.pad-left {
  padding-left: 55px;
}

.pad-right {
  padding-right: 55px;
}

.pad-top {
  padding-top: 85px;
}

.pop-menu {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed !important;
  background: #454545 url(../images/damora.png) center bottom/100% auto no-repeat;
}

.pop-menu-close {
  color: #fff;
  padding-top: 48px;
  cursor: pointer;
  font-size: 24pt;
}

.pop-menu-content {
  margin-left: 70px;
}

.pop-menu ul {
  list-style-type: none;
} 

.pop-menu ul li a {
  display: inline-block;
  font-family: 'Roboto Regular';
  color: #fff;
}

.big {
  padding-top: 20px;
  font-size: 36pt;
}

.small {
  padding-top: 10px;
  font-size: 20pt;
}

.regular {
  font-family: 'Roboto Regular';
  font-size: 11pt;
}

.header {
  z-index:1;
  background: transparent;
  height: 85px;
  width: 100%;
  display: flex;
  color: #000;
  align-items: center;
  position: absolute;
}

.header-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 30%;
}

.header-cart img {
  width: 20px;
  height: 22px;
}

.header-logo {
  margin-left: auto;
  margin-right: auto;
  font-family: 'BaronNeue';
  color: #000;
  width: 40%;
  font-size: 32pt;
}

.header-logo a {
  color: #000;
}

.pad-inline {
  margin: 10px;
}

.header-right{
  width:30%;
}

.header-account, .header-cart, .header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-account i {
  cursor: pointer;
}

.header-account a {
  color: #000;
} 

.line{
  width: 40px;
  border-bottom: 1px solid;
  position: relative;
  display: inline-block;
 }

select#header-currency { 
  border: 0;
  outline: 0;
  width: 40px;
  background: url(../images/fa-caret-down.png) no-repeat right;
  background-position: center right;
  background-size: 20% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slider {
  width: 100%;
  display: inline-block;
  background: #dad7d2 url(../images/slider-bg.jpg) repeat;
  color: #9a9895;
  position: absolute;
}

.slider-left {
    display: inline-block;
    background: #9a9895 no-repeat content-box; 
    background-position: center;
    background-size: auto 100%;
    min-width: 700px;
    min-height: 725px;
    color: white;
    font-family: 'BebasNeueRegular';
    font-size: 36pt;
    position: relative;
    overflow:hidden;
}

#slider-number {
  position: absolute;
  bottom: 0;
  right: 0;
}

.slider-right {
    background: #9a9895 no-repeat content-box;
    background-position: right 0px;
    background-size: auto 100%;
    min-width: 450px;
    min-height: 575px;
    position: relative;
    overflow:hidden;
}

.slider-nav{
  display: flex;
  align-items: center;
  color: #9a9895;
  font-family: 'BebasNeueBold';
  font-size: 24pt;
  position: absolute;
  right: 55px;
  bottom: -80px; 
}

#slider-prev, #slider-next {
  cursor: pointer;
  margin: 10px;
}

.relative {
  position: relative;
}

.socmed{
  text-align: center;
}
.socmed ul {
  list-style-type: none;
}

.socmed ul li {
  display: inline-block;
  margin: 15px;
}

.socmed ul li a {
  font-family: 'Roboto Regular';
  color: #000;
  font-size: 18pt;
}

.subs {
  padding: 6px;
  position: relative;
  margin: 30px auto;
  background: #9a9895;
  box-shadow: 5px 10px 18px #888888;
  color: #fff;
  width: 570px;
  height: 130px;
  display: flex;
}

#email {
  color: #b5b3b1;
  text-align: left;
  padding-top: 20px;
  font-family: 'Roboto';
  font-size: 16pt;
}

.subs i {
  text-align: left;
  font-family: 'Roboto';
  font-size: 10pt;
}

.subs button {
  padding: 20px;
  font-family: 'BebasNeueBold';
  font-size: 28pt;
  color: #fff;
}

.pattern-box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 370px;
  height: 392px;
  bottom: 0;
  z-index:-1;
  background: #fff;
  background-image:
    radial-gradient(#cccccc 8%, transparent 0), 
    radial-gradient(#cccccc 8%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.copyright {
  padding-top: 20px;
  font-family: 'BebasNeueBold';
  font-size: 30pt;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.row {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.side {
  width: 30%;
  font-family: 'BebasNeueBold';
  font-size:60pt;
  color: #9a9895;
}

.main {
  display: flex;
  font-family: 'Roboto';
  width: 70%;
  line-height: 28px;
  color: #9a9895;
  text-align: justify;
  justify-content:space-between;
}

.catalog {
  width: 370px;
  height: 650px;
}

.instagram {
  display: flex;
  justify-content:space-between;
}

.ig-group {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: 50%;
}

.ig-single{
  width: 50%;
}

.ig {
  display: inline-block;
  overflow: hidden;
}

.ig-group .ig  {
  width: 170px;
  height: 170px;
  margin: 0 20px 20px 0;
}

.ig-single .ig{
  width: 380px;
  height: 380px;
}

.item-image {
  display: block;
  overflow: hidden;
}

.item-image img {
  position: absolute;
}

.item-info {
  width: 100%;
  background: #fff;
  bottom:0;
  display: block;
  position: absolute;
  text-align: center;
  color: #9a9895;
  padding: 20px;
}

.item-name {
  display: block;
  font-family: 'BebasNeueBold';
  font-size: 24pt;
}

.item-price {
  display: block;
  font-family: 'Roboto';
  font-size: 14pt;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.6);
  transition: 0.5s;
  font-family:'BebasNeueBold';
  font-size:50pt;
  color: #808080;
  display: none;
}

.view-detail {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align:center;
  height: 100%;
}
.catalog {
  position: relative;
  cursor:pointer;
}

.catalog-left, .catalog-right {
  width: 50%;
}

