@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'BaronNeue';
  src: url(../fonts/baron-neue/BaronNeue.otf);
}

@media screen and (max-width: 900px) {
  .big {
    padding-top: 10px !important;
    font-size: 18pt !important;
  }
  
  .small {
    padding-top: 5px !important;
    font-size: 12pt !important;
  }
  
  .pad-left {
    padding-left: 30px !important;
  }
  
  .pad-top {
    padding-top: 30px !important;
  }
  
  .header {
    height: 30px !important;
  }
}

@media screen and (max-height: 600px) {
  .big {
    padding-top: 6px !important;
    font-size: 18pt !important;
  }
  
  .small {
    padding-top: 2px !important;
    font-size: 12pt !important;
  }
  
  .pad-left {
    padding-left: 30px !important;
  }
  
  .pad-top {
    padding-top: 30px !important;
  }
  
  .header {
    height: 30px !important;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.main-view {
  width: 100%;
  height: 100%;
  position: relative;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.pad-left {
  padding-left: 55px;
}

.pad-right {
  padding-right: 55px;
}

.pad-top {
  padding-top: 85px;
}

.pop-menu {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #454545 url(../images/damora.png) center bottom/100% auto no-repeat;
}

.pop-menu-close {
  color: #fff;
  padding-top: 48px;
  cursor: pointer;
  font-size: 24pt;
}

.pop-menu-content {
  margin-left: 70px;
}

.pop-menu ul {
  list-style-type: none;
} 

.pop-menu ul li a {
  display: inline-block;
  font-family: 'Roboto Regular';
  color: #fff;
}

.big {
  padding-top: 20px;
  font-size: 36pt;
}

.small {
  padding-top: 10px;
  font-size: 20pt;
}

.regular {
  font-family: 'Roboto Regular';
  font-size: 11pt;
}

.header {
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-menu img {
  margin: 10px;
}

.header-account, .header-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-account i {
  margin: 10px;
  cursor: pointer;
}

.header-account a {
  color: #000;
  margin: 10px;
}

.line{
  width: 40px;
  border-bottom: 1px solid black;
  position: relative;
  margin: 10px;
}

select#header-currency { 
  border: 0;
  outline: 0;
  width: 40px;
  margin: 10px;
  background: #fff url(../images/fa-caret-down.png) no-repeat right;
  background-position: center right;
  background-size: 20% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header-cart img {
  width: 20px;
  height: 22px;
  margin: 10px;
}

.header-logo {
  margin-left: auto;
  margin-right: auto;
  font-family: 'BaronNeue';
  color: #000;
  font-size: 32pt;
}


